* {
	margin: 0;
	padding: 0;
	--pink--: #FE4D9F;
	--lightblue--: #8BE9F0;
	--yellow--: #FECE76;
	--salmon--: #FF7E8C;
	--darkblue--: #5A95CE;
}

body {
	font-family: 'Baloo 2', cursive;
	background-color: #FFF8E7;
}

#page_container {
  position: relative;
  min-height: 100vh;
}

#logo {
	position: absolute;
	top: 15px;
	left: 15px;
}


h1,h2 {
	text-align: center;
	color: var(--white--);
	padding-top: 1rem;
	padding-bottom: 1rem;
	letter-spacing: .1rem;
}

h1 {
	color: black;
}

h2 {
	font-size:30px;
}

p{
	font-size:20px;
}

a {
	text-decoration: none;
}


#top {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
}

#home {
	font-size: 25px;
	display: inline-block;
	padding: 8px 15px;
	border-radius: 12px;
	box-sizing: border-box;
	text-decoration: none;
	font-weight: 300;
	background-color: var(--yellow--);
	font-family: 'Baloo 2', cursive;
	color: black;
	text-align: center;
	transition: all 0.2s;
	outline:none;
	border: none;
	float: right;
	margin-right: 100px;
	width: 140px;
}

#home:before {
  content: '';
  background: url('home.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right:5px;
}


#content_wrap {
	padding-bottom: 3rem;
}

.flex-grid {
  display: flex;
  margin-top: 10rem;
  margin-right: 3rem;
  margin-left: 3rem;
  flex-wrap: wrap;
}
.col {
  margin-left:1rem;
  margin-right:1rem;
}


#mission_control {
	flex-direction: column;
	display: flex;
	flex:1;
}

#submitted {
	color:white;
	background-color:var(--lightblue--);
	border-radius:12px;
	flex:1;
}

#weekly_missions {
	flex:1;
	color: white;
	background-color:var(--darkblue--);
	border-radius: 12px;
}

#special_missions {
	flex:1;
	color: white;
	background-color:var(--pink--);
	border-radius: 12px;
}

.mission_status {
	margin-top: 10rem;
	text-align: center;
}

.missions {
	box-sizing: border-box;
	color: black;
	background-color:white;
	width: 80%;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	border-radius: 5px;
	text-align: center;
	padding: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	display: flex;
}

.missions:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	cursor:pointer;
}


.money {
	color: var(--yellow--);
	font-size:30px;
	flex: 0.3;
}

.task {
	flex: 1;
	margin-top:auto;
	margin-bottom:auto;
}

input[type=button], button {
   width: 150px;
   background-color: #09f;
   color: white;
   padding: 10px;
   margin: 10px 0;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   font-family: 'Baloo 2', cursive;

}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 35%; 
  border-radius: 10px;
}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.green  {
	float:right;
	margin-right:18px;;
	font-size:200%;
	color:#85bb65;

}


.center {
	text-align: center;
	margin-right:auto;
	margin-left:auto;
}

.mission_complete {
	background-color: var(--pink--);
	color:white;
	font-size:120%;
	width:200px;
}

h3 {
	font-size:200%;
}

.duedate {
	color: var(--pink--);
}

#new_mission {
	width:100%;
	text-align:center;

}

#new {
	font-size: 25px;
	display: inline-block;
	padding: 8px 15px;
	border-radius: 12px;
	box-sizing: border-box;
	text-decoration: none;
	font-weight: 300;
	background-color: var(--yellow--);
	font-family: 'Baloo 2', cursive;
	color: white;
	text-align: center;
	transition: all 0.2s;
	outline:none;
	border: none;
	text-align:center;
	width: 200px;
	flex:2;
}

#empty{
	flex:1;
}

#complete {
	background-color: #85bb65;
	color:white;
	font-size:120%;
	width:200px;
	padding:5px;
	margin:5px;
}

#incomplete {
	background-color: #e2422d;
	color:white;
	font-size:120%;
	width:200px;
	padding:5px;
	margin:5px;
}

#new_modal {
	background-color: var(--yellow--);
	color:black;
	text-align:center;
}

#send {
	background-color: var(--pink--);
	color:white;
	font-size:120%;
	width:200px;
	padding:5px;
	margin:5px;

}

label {
   width: 125px;
   display: inline-block;
   text-align: left;
   margin-right: 8px;
}

input[type=text]{
   width: 250px;
   padding: 10px;
   margin: 6px 0;
   border: 1px solid #aaa;
   border-radius: 4px;
}

input[type=text]::placeholder{
	font-family: 'Baloo 2', cursive;
}

td, #descr{
	font-size:25px;
}

#new_title {
	color:white;
	font-size:35px;
}