
* {
	margin: 0;
	padding: 0;
	--pink--: #FE4D9F;
	--lightblue--: #8BE9F0;
	--yellow--: #FECE76;
	--salmon--: #FF7E8C;
	--darkblue--: #5A95CE;
}

body {
	font-family: 'Baloo 2', cursive;
	background-color: #FFF8E7;
}

#page_container {
  position: relative;
  min-height: 100vh;
}

#logo {
	position: absolute;
	top: 15px;
	left: 15px;
}

a {
	text-decoration: none;
}


#top {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
}

#home {
	font-size: 25px;
	display: inline-block;
	padding: 8px 15px;
	border-radius: 12px;
	box-sizing: border-box;
	text-decoration: none;
	font-weight: 300;
	background-color: var(--yellow--);
	font-family: 'Baloo 2', cursive;
	color: black;
	text-align: center;
	transition: all 0.2s;
	outline:none;
	border: none;
	float: right;
	margin-right: 100px;
	width: 140px;
}

#home:before {
  content: '';
  background: url('home.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right:5px;
}


#content_wrap {
	padding-bottom: 3rem;
}


.flex-grid {
  display: flex;
  margin-top: 9rem;
  margin-right: 3rem;
  margin-left: 3rem;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Baloo 2', cursive;
  background-color:var(--lightblue--);
  border-radius: 12px;
}
.col {
  padding:2rem;
  box-sizing: border-box;
}

.pink {
	color:var(--pink--);
}

#borrowed {
	width:100%;
	margin:1rem;
	color:black;
}

#borrowed h1{
	color: var(--pink--);
	font-family: 'Baloo 2', cursive;
}

#borrowed p{
	font-size:150%;
}


#borrowed2 {
	float:left;
	width:40%;
	margin-left:100px;
	font-size:120%;
}

#borrowed3 {
	float:right;
	width:30%;
	text-align:center;
}


#bank {
	margin: 20px;
	width:15%;
	float:left;
}

.redthings {
	color:#e2422d;
}

#circle {
  border-radius: 50%;
  background-color: white;
  border: none;
  color: #e2422d;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

input[type=text] {
	background-color: white;
	height:25px;
	border:none;
}

#labelprogress {
	color:black;
}

#progress-data {
	column-width:350px;
}

#edit {
	width:100%;
	background-color:var(--lightblue--);
	color:black;
	text-align:center;
	border-radius: 12px;

}

#edit_button {
   width: 100px;
   background-color: white;
   color: var(--pink--);
   padding: 5px;
   margin: 5px 0;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   font-size:25px;

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--lightblue--);
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  margin-right: 3rem;
  margin-left: 3rem;
  border-radius: 10px;
  font-family: 'Baloo 2', cursive;
}

.modal-content td {
	font-size:30px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#new_title {
	color:var(--pink--);
	font-family: 'Baloo 2', cursive;
	text-align:center;
	font-size:35px;
}

#bank2{
	float:left;
	width:20%;
	padding:3rem;
	margin-right: 8rem;
}

.frequency {
   width: 100px;
   background-color: lightgrey;
   color: black;
   padding: 2px;
   margin: 10px;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   font-size:25px;
}

